<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Api Bilgilerim</h4>
                            <p class="sub-header">Entegrasyon yapmak istediğiniz ve satıcısı olduğunuz e-ticaret platformunu seçin.</p>

                            <div class="row platforms">
                                <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                                    <div class="card shadow active">
                                        <a href="/api/ozon"><div class="card-header p-0"><span class="badge">Aktif</span><img src="/assets/images/platforms/ozon.png" height="100px" alt="Ozon" class="img-fluid"></div></a>
                                        <div class="card-body"><a href="/api/ozon"><h5>Ozon Entegrasyonu</h5></a><small>Ozon.ru, Rusya'nın ilk ve en büyük e-ticaret markalarından biridir. 1998 yılında yazılı şirketi Reksoft tarafından kitap e-ticareti için kurulan Ozon, bu sebeple “Rusya'nın Amazon'u" olarak da bilinir.</small></div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                                    <div class="card shadow">
                                        <div class="card-header p-0"><span class="badge">Hesaba Tanımlı Değil</span><img src="/assets/images/platforms/aliexpress.jpg" height="100px" alt="Ozon" class="img-fluid"></div>
                                        <div class="card-body"><h5>Aliexpress Entegrasyonu</h5><small>AliExpress, merkezi Çin'de olan Alibaba Group'un bir çevrimiçi alışveriş hizmetidir. A'dan Z'ye pek çok ürün grubunu içinde barındıran AliExpress dünyanın pek çok ülkesinden kullanılabilmektedir.</small></div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                                    <div class="card shadow">
                                        <div class="card-header p-0"><span class="badge">Hesaba Tanımlı Değil</span><img src="/assets/images/platforms/etsy.jpg" height="100px" alt="Ozon" class="img-fluid"></div>
                                        <div class="card-body"><h5>Etsy Entegrasyonu</h5><small>Etsy, dünya genelinde birçok kişiye ev yapımı ve vintage ürünleri satma imkanı sunan bir online pazardır. Sanatçılar, el işi ustaları ve diğer yaratıcı kişiler, Etsy üzerinden ürünlerini sergileyebilir ve satış yapabilir.</small></div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                                    <div class="card shadow">
                                        <div class="card-header p-0"><span class="badge">Hesaba Tanımlı Değil</span><img src="/assets/images/platforms/amazon.png" height="100px" alt="Ozon" class="img-fluid"></div>
                                        <div class="card-body"><h5>Amazon Entegrasyonu</h5><small>Amazon.com, Inc. Seattle, Washington merkezli, e-ticaret, bulut bilişim, dijital akış, ve yapay zekâya odaklanan çok uluslu bir Amerikan teknoloji şirketidir. "En Büyük Beş Şirket" listesinde bulunmaktadır.</small></div>
                                    </div>
                                </div>
                            </div>
                            <!-- end row-->

                        </div> <!-- end card-body -->
                    </div> <!-- end card -->
                </div><!-- end col -->
            </div>
            <!-- end row -->


        </div> <!-- container -->

    </div> <!-- content -->

</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->


