<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Şifremi Değiştir</h4>
                            <p class="sub-header">Şifremi değiştir bölümünden mevcut şifrenizi güncelleyebilirsiniz.</p>

                            <form action="/change-password" method="POST">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="name">Mevcut Şifreniz</label>
                                                <div class="input-group">
                                                    <input type="password" name="password-ol" class="form-control" placeholder="Mevcut Şifreniz" required>
                                                    <span class="input-group-text eye-icon" style="cursor: pointer;"><i class="mdi mdi-eye"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="name">Yeni Şifreniz</label>
                                                <div class="input-group">
                                                    <input type="password" name="password-new" class="form-control" placeholder="Yeni Şifreniz" required>
                                                    <span class="input-group-text eye-icon" style="cursor: pointer;"><i class="mdi mdi-eye"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="name">Yeni Şifrenizi Tekrar Girin</label>
                                                <div class="input-group">
                                                    <input type="password" name="password-new2" class="form-control" placeholder="Yeni Şifre Tekrarı" required>
                                                    <span class="input-group-text eye-icon" style="cursor: pointer;"><i class="mdi mdi-eye"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-3 d-none" id="badge">
                                        <div class="badge bg-danger text-white w-100 px-1 py-2" style="font-size: 14px;text-align: left;">
                                            <ul class="m-0"></ul>
                                        </div>
                                    </div>
                                    <div class="col-12" style="text-align: right;">
                                        <button type="button" id="sendChangePassword" class="btn btn-success">Şifremi Güncelle</button>
                                    </div>
                                </div>
                            </form>
                            <!-- end row-->

                        </div> <!-- end card-body -->
                    </div> <!-- end card -->
                </div><!-- end col -->
            </div>
            <!-- end row -->


        </div> <!-- container -->

    </div> <!-- content -->

</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->



<script>
    $(document).ready(function () {
        function checkFormValidity() {
            var password_old = $('input[name="password-ol"]').val();
            var password_new = $('input[name="password-new"]').val();
            var password_new2 = $('input[name="password-new2"]').val();

            // Hata mesajını temizle
            $('#badge').addClass('d-none');
            $('#badge ul').empty();

            // Hata kontrolleri
            if (password_old === '' || password_new === '' || password_new2 === '') {
                $('#badge').removeClass('d-none');
                $('#badge ul').append('<li>Lütfen tüm alanları doldurun.</li>');
            }

            if (password_new !== password_new2) {
                $('#badge').removeClass('d-none');
                $('#badge ul').append('<li>Yeni şifreler eşleşmiyor.</li>');
            }

            if (password_new.length < 8 || !(/[A-Z]/.test(password_new)) || !(/[a-z]/.test(password_new)) || !(/[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/.test(password_new))) {
                $('#badge').removeClass('d-none');
                $('#badge ul').append('<li>Yeni şifre en az 8 karakter uzunluğunda olmalı ve büyük harf, küçük harf ve bir sembol içermelidir.</li>');
            }
        }

        $('input[name="password-ol"], input[name="password-new"], input[name="password-new2"]').on('keyup', function () {
            checkFormValidity();
        });

        $('.btn').on('click', function () {
            // Formun doğruluğunu kontrol et
            checkFormValidity();

            // Hata varsa
            if ($('#badge li').length > 0) 
                return;
            

            // Hata yoksa formu submit et
            $('form').submit();
        });

        $('.eye-icon').on('click', function () {
            var input = $(this).prev('input');
            var type = input.attr('type') === 'password' ? 'text' : 'password';
            input.attr('type', type);
        });


    });
</script>