            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->


            <style>
                .agreementDiv{max-height: 500px;overflow: scroll;overflow-x: hidden;}
                ul li,ol li{margin-bottom:10px;}
            </style>
            

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title">Üyelik Sözleşmesi</h4>
                                        <p class="sub-header">Sistemi kullanmadan önce son 1 adımınız kaldı. Sistemi kullanmanız için sözleşmenin okunup onaylanması gerekmektedir.</p>

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <form action="/agreement" method="post" id="agreementForm">
                                                    <div class="agreementDiv mb-3 shadow p-3">
                                                        <h5>YAZILIM KULLANIM & ÜYELİK SÖZLEŞMESİ</h5>
                                                        <ol>
                                                            <li><b>UYARI</b> <br>DİKKAT! BİR SÖZLEŞMEYE TARAF OLMA YOLUNDA İLERLEMEKTESİNİZ. İŞBU METİN, CİHAN SULU İLE
                                                                TARAFINIZDA KURULMASI ÖNGÖRÜLEN SÖZLEŞMENİN İCAP(ÖNERİ) BEYANIDIR. İLERİDE SÖZLEŞMEYE
                                                                DÖNÜŞECEK İŞBU İCAP METNİ VE İÇERDİĞİ İRADE BEYANI, SADECE SİZE CİHAN SULU’NUN SUNDUĞU
                                                                HİZMETLERİ KULLANMA AMACIYLA KULLANICI HESABI OLUŞTURURKEN YA DA KURULUM
                                                                AŞAMASINDA OKUNMAK YOLUYLA SİZ MUHATABA VARMASI ŞARTIYLA VE CİHAN SULU TARAFINDAN
                                                                DEĞİŞTİRİLENE YA DA TARAFINIZCA DERHAL KABUL BEYANINDA BULUNULABİLECEK SÜRE KADAR
                                                                BAĞLAYICIDIR. İŞBU İCABIMIZA YÖNELİK AÇIK(SARİH) YA DA ZIMNİ(ÖRTÜLÜ) KABULÜNÜZÜ İÇERİR
                                                                İRADE BEYANINIZIN TARAFIMIZA HER TÜRLÜ YOL VE ARAÇLA ULAŞIMI, 6098 SAYILI TÜRK BORÇLAR
                                                                KANUNU(TBK) İLGİLİ MADDELER UYARINCA HER İKİ TARAFI BAĞLAYAN BİR SÖZLEŞME
                                                                OLUŞTURACAKTIR. BU BAĞLAMDA ÖRNEK OLARAK ANCAK SAYILANLARLA SINIRLI OLMAMAK KOŞULU
                                                                İLE; YAZILIMI BİLGİSAYARINIZA İNDİRMEK, YAZILIMI KULLANMAK, BU İCAP KABUL EDİLMEDEN
                                                                OLUŞMAYAN KULLANICI HESABINI İLGİLİ KUTUCUĞU TİKLEYEREK OLUŞTURMAK GİBİ ONAYLAYICI
                                                                EYLEMLER KANUNEN İŞBU İCAP METNİNİN OKUNUP KABUL EDİLDİĞİ ANLAMLARINA GELECEKTİR.
                                                                YAZILIMIN İŞBU İCAP METNİ KABUL EDİLMEDEN YA DA İŞBU METNE AYKIRI ŞEKİLDE KULLANILMASI
                                                                HUKUKİ VE CEZAİ SORUMLULUĞU BERABERİNDE GETİRECEKTİR.</li>
                                                            <li><b>TANIMLAR</b></li>
                                                                <ol>
                                                                    <li>“LİSANS”: YÜKLENİCİ tarafından sağlanan ENTEGİO adlı yazılımlardan ve/veya arayüzlerden bir, iki
                                                                        ya da tümünü, sadece YÜKLENİCİ tarafından sağlanan kullanıcı arayüzleri ile, işbu sözleşmeye uygun
                                                                        olarak ve özellikle 8 numaralı başlığında yazılı amaçlarla, 5 numaralı başlığında yazılı şekilde, 4
                                                                        numaralı başlığında belirtilen periyodik ücret karşılığında ve ödeme biçimlerinde ve süreler dahilinde,
                                                                        6 numaralı başlıkta kararlaştırılan sınırlarla, temelli devir anlamına gelmemek şartıyla ve hiçbir şekilde
                                                                        münhasırlık (tekellik) yaratmayacak şekilde kullanılması hakkının işbu borç ilişkisi kapsamında
                                                                        tanınmasıdır.</li>
                                                                    <li>“CİHAN SULU” ya da YÜKLENİCİ: CİHAN SULU firmasını tanımlar.</li>
                                                                    <li>“KULLANICI” ya da “İŞ SAHİBİ”: YÜKLENİCİ’ nin hali hazırda geliştirmiş olup sağladığı yazılımları
                                                                        LİSANS’a uygun şekilde kullanma borcu altına giren ve bu yazılımları gelir elde etme amacıyla kullanan
                                                                        gerçek ya da tüzel kişilerdir.</li>
                                                                    <li>“YAZILIM”: Sözleşme kapsamında KULLANICI’ya LİSANS’a uygun olarak kullandırılan her tür fikri
                                                                        sınai ve diğer hakları YÜKLENİCİ’ye ait olan kullanım arayüzlerini; YÜKLENİCİ tarafından geliştirilen
                                                                        ENTEGİO isimli makine tarafından okunabilir formdaki bilgisayar programlarından KULLANICI
                                                                        tarafından ücreti karşılığında LİSANS’a uygun olarak kullanılanları tanımlar</li>
                                                                    <li> “ÜÇÜNCÜ KİŞİ”: Bu borç ilişkisi dışında kalan tarafları kapsamak üzere kullanılmıştır.</li>
                                                                    <li>“İNTERNET SİTESİ”: https://entegio.com adresli internet sitesi ve bu siteden ulaşılabilen ve bu
                                                                        siteye ait olan diğer internet sayfalarını tanımlar.</li>
                                                                    <li>“ARAYÜZ”: YAZILIM’ın kullanımı için YÜKLENİCİ tarafından sağlanan, KULLANICI ile YAZILIM
                                                                        arasındaki iletişimi sağlayan görüntü, tasarım ve/veya diğer yazılımlar.</li>
                                                                </ol>
                                                            <li><b>SÖZLEŞMENİN KONUSU</b></li>
                                                                <ol>
                                                                    <li>Bu sözleşme ile KULLANICI, YAZILIM’ı işbu sözleşmede detaylandırılan LİSANS’ı doğrultusunda temelli
                                                                        devir anlamına gelmemek şartıyla ve hiçbir şekilde münhasırlık (tekellik) yaratmayacak şekilde
                                                                        periyodik ücreti karşılığında kullanacaktır. Kullanımın içeriği işbu sözleşmenin özellikle 5 ve 6 numaralı
                                                                        başlık ve alt başlıklarından anlaşılır.</li>
                                                                </ol>
                                                            <li><b>LİSANS ÜCRETİ VE KULLANIM SÜRELERİ</b></li>
                                                            <ol>
                                                                <li>Entegio; Ozon.ru Services LLC’in yarattığı pazar alanında ya da alanlarında bulunan
                                                                    KULLANICI’nın yönettiği mağaza ya da mağazalarda sergilenen ürünlerin makul sayıdaki detayları ile ve
                                                                    bulut teknolojisinin mümkün kıldığı makul bir hızda KULLANICI tarafından belirlenen filtreler sayesinde
                                                                    güncellenmesine, diğer ürünlerle karşılaştırmalı olarak elenmelerine, KULLANICI’nın seçeceği filtre ve
                                                                    ayarlara göre envanterdeki ürünlerin Ozon.ru envanterinden otomatik olarak liste dışı bırakılmasına
                                                                    ya da Ozon.ru envanterine yüklenmesine Ozon.ru Services LLC’nin kullanım şartlarına aykırı
                                                                    düşmeyecek şekilde yardımcı olur. Ozon.ru mağaza envanterine yüklenen tüm ürünler KULLANICI
                                                                    sorumluluğundadır.</li>
                                                                    <ol>
                                                                        <li>KULLANICI, YAZILIM için aylık ve yıllık olarak farklı süreli, farklı ücretlendirmeye tabi abonelik
                                                                            modeli ile periyodik ödemeler içeren 2 farklı versiyondan birini seçebilecektir. Bir ay 30 güne denk
                                                                            gelen saat olarak hesaplanacak (30x24), bu sürenin hesaplanması sözkonusu paket karşılığı ücretin
                                                                            YÜKLENİCİ banka hesaplarına geçtiği andan başlatılacaktır YÜKLENİCİ ve KULLANICI arasındaki borç
                                                                            ilişkisi, esaslı borçlarının ifası herhangi temerrüt dışı sebepler ile dursa dahi, tarafların birbirlerine olan
                                                                            tali borçları ile davranış yükümlülükleri KULLANICI’nın kullanıcı hesabı sözleşmesi yürürlükte olduğu
                                                                            sürece devam edecektir</li>
                                                                        <li>YÜKLENİCİ, halihazırda ücreti ödenmemiş olan periyotlara ilişkin LİSANS ücretinin değişimi için
                                                                            borç ilişkisinin her anında kullanabileceği yenilik doğuran bir hakka sahiptir. Bu tür ücret değişimlerine
                                                                            ilişkin yenilik doğuran hak KULLANICI’ya kendisinin bildirdiği elektronik posta adresi, İNTERNET SİTESİ
                                                                            ya da YAZILIM arayüzü ve bunun gibi her türlü araç aracılığı ile vardığında kendiliğinden hukuki sonuç
                                                                            doğuracaktır ve taraflar arasındaki borç ilişkisini ileriye dönük olarak değiştirecektir. Kendisine ücret
                                                                            değişim bildirimi yapılmış KULLANICI, mevcut LİSANS süresini daha önce ödediği ücretlendirme
                                                                            üzerinden devam ettirebilecek; ücret artımı bundan sonraki herhangi ilk periyodik ödemesine
                                                                            yansıyacaktır.</li>
                                                                        <li>KULLANICI abonelik sonlandırma işlemi yaptığında tahsil edilmiş YAZILIM abonelik ücretleri
                                                                            iade edilemez, başka bir KULLANICI ya aktarılamaz.</li>
                                                                        <li>Genel Paket Aboneliği<br>KULLANICI tarafından abonelik başvurusu yapıldığı halde YAZILIM, LİNSANS hükümlerine uygun şekilde
                                                                            aylık olarak kullandırılacaktır. Bir ay 30 güne denk gelen saat olarak hesaplanacak (30x24), bu sürenin
                                                                            hesaplanması söz konusu paket karşılığı olan tutarın YÜKLENİCİ banka hesaplarına geçtikten sonra
                                                                            YAZILIM KULLANICI tarafına teslim anından itibaren başlatılacaktır.</li>
                                                                        <li>Özel Paket Aboneliği<br>KULLANICI ve YÜKLENİCİ, 4.1., 4.2., 4.3. numaralı hükümler dışında YAZILIM’ın süresini değiştirir
                                                                            biçimde anlaşma yapabileceklerdir. Bu tür anlaşmalar ayrıca biricap kabul sürecine tabi olacaklar, fakat
                                                                            işbu sözleşmenin UYARI başlıklı 1 numaralı maddesindeki şartlar gerçekleştiği takdirde, işbu
                                                                            sözleşmenin hükümleri uyuştuğu ölçüde Özel Paket adı altında taraflar arasında imzalanan sözleşmeye
                                                                            de uygulanacaktır</li>
                                                                    </ol>
                                                            </ol>
                                                            <li><b>YAZILIM’IN KULLANIM ŞEKLİ</b></li>
                                                                <ol>
                                                                    <li>KULLANICI, YAZILIM’ı işbu sözleşmede çizilmiş sınırlar dahilinde İNTERNET SİTESİ aracılığı ile kendi
                                                                        adına alacağı bir kullanıcı hesabı aracılığı ile kullanacak, bu kullanıcı hesabını ise YÜKLENİCİ tarafından
                                                                        sunulan, ya da ileride kullanıma açılacak arayüzler aracılığı ile kendi kullanıcı hesabı ile ilişkilendirdiği
                                                                        elektronik posta adresi ve şifresi ile kullanacaktır. YAZILIM, KULLANICI’nın sözleşme dışı Ozon.ru
                                                                        Services LLC’den ayrıca edindiği ve yalnız bir kullanıcı hesabı ile ilişkilendirilmiş şekilde kullanılacaktır</li>
                                                                    <li>YÜKLENİCİ, YAZILIM’ın çalışmasına uygun konfigürasyonda bir bilgisayar tedariki ile ilişkili hiçbir
                                                                        borç altına girmemektedir. KULLANICI, işbu sözleşme ile, YAZILIM’ı onun hatasız çalışabileceği bir
                                                                        bilişim sisteminde ve gerekirse ek yazılımlar ile birlikte kullanma borcu altına girmektedir. YAZILIM’ın
                                                                        gerektirdiği donanım ve ek yazılım bilgileri, KULLANICI tarafından istendiği takdirde YÜKLENİCİ
                                                                        tarafından tedarik edilecektir. Bu bilgi tedariki tavsiye nitelikte olup, donanım ve YAZILIM arasında bir
                                                                        uyuşmazlıktan dolayı bir zarar ortaya çıkarsa, YÜKLENİCİ işbu sözleşmenin 11’inci maddesi ve alt
                                                                        maddeleri uyarınca sorumsuz olacaktır.</li>
                                                                    <li>. Her iki taraf da işbu sözleşmenin kurulduğu anda YAZILIM’ın çalışmasına olanak sağlayacak olan
                                                                        bilişim sistemini sağlamanın ve uygun tarayıcılar aracılığı ile kullanmanın KULLANICI’nın üstüne
                                                                        bırakıldığı hususlarında mutabık kalmışlardır. Bu bilişim sistemi ve/veya tarayıcılar, YAZILIM’ın
                                                                        gerektirdiği sistem gereksinimlerini karşılamalıdır. Taraflar aksi halde yaşanacak performans aksilikleri
                                                                        sebebi ile YAZILIM’ın işlemesinin aksayabileceği, bu durumun YÜKLENİCİ kaynaklı olmadığı hususunda
                                                                        mutabık kalmışlardır.</li>
                                                                    <li>YAZILIM, YÜKLENİCİ’ye ait erişim merkezine uzaktan erişimle ve yoluyla indirilir, KULLANICI’ya fiziki
                                                                        olarak teslim edilmez.</li>
                                                                    <li>. YAZILIM en iyi şekilde, Google Chrome ağ tarayıcı motoruna sahip uygulamalarda çalışacak
                                                                        şekilde tasarlanmıştır. KULLANICI, YAZILIM’ı sadece bu ağ tarayıcı motoruna sahip uygulamalarda
                                                                        kullanacağını taahhüt eder. Bu tarayıcı motorunda meydana gelecek değişiklikler sebebiyle yazılımın
                                                                        işlevini yitirmesi halinde YÜKLENİCİ sorumluluk kabul etmez.</li>
                                                                    <li>Her iki taraf da YAZILIM’ın tarayıcı eklentisi arayüzü ile kullanılması sırasında,söz konusu tarayıcıda
                                                                        bulunan diğer eklentilerin YAZILIM’ın kullanımını engellenebileceği ya da etkilenebildiği, bu hususun
                                                                        YÜKLENİCİ ile alakalı bir durum olmadığı gibi ona yüklenebilecek bir sorumluluk da doğurmayacağında
                                                                        mutabık kalmışlardır.</li>
                                                                </ol>
                                                            <li><b>YAZILIM’IN KULLANIM SINIRLARI</b></li>
                                                                <ol>
                                                                    <li>YAZILIM’ın kullanılmasından, onun KULLANICI tarafından bilgisayara yüklenmesi, çalıştırılması,
                                                                        amaçlandığı doğrultuda işletilmesi ve sadece işbu sözleşmedeki sınırlara tabi olmak koşulu ile kişisel
                                                                        kullanım amacıyla bir yedeğinin alınması anlaşılır.</li>
                                                                    <li>YAZILIM’ın kullandırılması, işbu sözleşme maddelerinin yorumu söz konusu olduğunda başta 6.1.
                                                                        olmak üzere, LİSANS’ın işbu sözleşmedeki diğer sınırları aşmayacak şekilde daraltılarak kullanılacaktır.</li>
                                                                    <li>KULLANICI, YAZILIM’ı, YAZILIM’ın kullanıma hazır bulunduğu bilişim sistemini ve işbu sözleşmeden
                                                                        doğan kullanım haklarını ariyet, kira gibi bedelli veya bedelsiz bir hukuki sebep ile hiçbir surette üçüncü
                                                                        kişilerin yararına sunamaz, kullandıramaz, satamaz, bu yönde herhangi bir borçlandırıcı işlem altına
                                                                        giremez, girerse tazminat sorumluluğu doğar. KULLANICI, kullanım hakkını kısmen veya tamamen
                                                                        ÜÇÜNCÜ KİŞİ’lere devredemez. KULLANICI, YAZILIM’ı kullandığı ya da YAZILIM’ın bulunduğu bilişim
                                                                        sistemi üzerinde zilyetlik devrini gerektirecek herhangi bir işlem yapmadan önce, yeni zilyedin
                                                                        YAZILIM’a erişimini her yolla engellemek borcu altına girmektedir. YAZILIM’ın üçüncü kişilerin yararına
                                                                        sunulması halinde YÜKLENİCİ her türlü hukuki hakkını saklı tutar.</li>
                                                                    <li>. KULLANICI, YAZILIM’ı üçüncü kişilerin yararına sunmamak ve bunun önlenmesi için nitelikli
                                                                        tedbirler almak şartıyla sahibi olduğu diğer bilişim sistemlerine kurabilir ve/veya bu sistemlerde
                                                                        kullanabilir.</li>
                                                                    <li>KULLANICI, YAZILIM’ı hukuka uygun şekilde kullanmak zorundadır.</li>
                                                                    <li>KULLANICI, YAZILIM’ı Ozon.ru Services LLC’nin yarattığı pazar alanlarında bu pazar alanlarının
                                                                        bulunduğu ülke başına sadece bir mağazasında kullanabilecektir.</li>
                                                                    <li>KULLANICI’ nın, YAZILIM kullanımı kapsamında mağazası için toplam ürün yükleme üst sınırı 500 adet olarak saptanmıştır. 
                                                                        Bu sayıya ürün varyantları dahil değildir. YAZILIM aracılığı ile günlük ürün yükleme üst sınırı varyantlar hariç, 50 adet olacak biçimde sınırlandırılmıştır. 
                                                                        Bu bağlamda KULLANICI ürün yüklerken günlük 50, toplam 500 ürün üst sınırını aşmadan abonelik süresi içerisinde ürün yükleme hakkına sahiptir.</li>
                                                                </ol>
                                                            <li><b>LİSANS’IN MÜNHASIR OLMAMASI</b></li>
                                                                <ol>
                                                                    <li>İşbu sözleşme ile tanınan lisans KULLANICI’ya YAZILIM ile ilişkilendirilebilecek münhasır hiçbir hak
                                                                        tanımamaktadır. Bu, KULLANICI’nın YAZILIM’ ı kullanmakta bir tekel hakkına sahip olmadığı anlamına
                                                                        da gelir.</li>
                                                                    <li>YÜKLENİCİ hiçbirmünhasır hak tanımayan işbu sözleşmeden bağımsız olarak, başka İŞ SAHİP’lerine
                                                                        dilediği doğrultuda hukuki ilişki kurabilir, borçlanabilir, hukuki işlemlerde bulunabilir.</li>
                                                                    <li>YÜKLENİCİ, YAZILIM ile ilişkilendirilebilecek hiçbir hakkı devretmemekte, sadece KULLANICI’ya
                                                                        YAZILIM’ı işbu sözleşme sınırları içerisinde ve karşısında kullanım iznini sağlamaktadır.</li>
                                                                </ol>
                                                            <li><b>YAZILIMIN KULLANIM AMACI</b></li>
                                                                <ol>
                                                                    <li>YAZILIM, KULLANICI’nın tüketimi ya da şahsi ihtiyaçlarının giderimi amacı ile geliştirilmemiştir.
                                                                        KULLANICI, YAZILIM’ısadece ticari faaliyetlerinde, malların para kazanma amacı ile el değiştirilmesinde,
                                                                        işletmesinin var oluş amacını gerçekleştirmesini kolaylaştırıcı bir biçimde kullanacaktır.</li>
                                                                    <li>Taraflar, aralarındaki hukuki ilişkinin dikey bir üretici/tüketici ilişkisinden ziyade, KULLANICI’nın
                                                                        ticari işlerini kolaylaştırma amacı güden iki tacir arasındaki yatay bir hukuki ilişki olduğu hususunda
                                                                        mutabıklardır.</li>
                                                                    <li>YAZILIM, KULLANICI’nın ticari faaliyetlerini onun yerine yönetmektense, ticari faaliyetin KULLANICI
                                                                        tarafından yönetimini kolaylaştırıcı bir rol alır ve KULLANICI’nın ticari faaliyetlerinin tüm kontrolünün
                                                                        yine KULLANICI’da olduğu işbu sözleşme taraflarınca kabul edilmiştir.</li>
                                                                </ol>
                                                            <li><b>SÖZLEŞMEDE DEĞİŞİKLİK HAKKI</b></li>
                                                                <ol>
                                                                    <li>YÜKLENİCİ istediği herhangi bir zaman işbu sözleşmeyi değiştirme, güncelleme, sözleşme
                                                                        hükümlerine ekleme yapma hakkına sahiptir. İşbu sözleşmenin yürürlüğe girmesi ile, İŞ SAHİBİ işbu ya
                                                                        da YÜKLENİCİ’nin diğer YAZILIM’larını kullanmadan, esaslı ya da tali borçlarını yerine getirmeden işbu
                                                                        sözleşme metnini tekrar okuyacağını taahhüt eder. YÜKLENİCİ, İŞ SAHİBİ’nin bu sözleşme tabanlı
                                                                        davranış yükümlülüğünü kolaylaştırmak amacı ile sözleşmenin versiyonu İŞ SAHİBİNİN kolayca
                                                                        görebileceği bir şekilde belirtecektir.</li>
                                                                    <li>YÜKLENİCİ, YAZILIM’ın sonraki periyotlardaki lisans ücretlerine yansıyacak şekilde kendi
                                                                        belirleyeceği dönemlerde, şekilde ve zaman aralıklarında geçerli olmak üzere lisans ücretlerini
                                                                        düşürebilir.</li>
                                                                </ol>
                                                            <li><b>SÖZLEŞMENİN SONLANDIRILMASINA İLİŞKİN HAK VE HÜKÜMLER</b></li>
                                                                <ol>
                                                                    <li>YÜKLENİCİ istediği anda hiçbir sebep göstermeden mevcut esaslı borçların tasfiyesi dışında hiçbir
                                                                        borç altına girmeden işbu sözleşmeyi fesih hakkına sahiptir.</li>
                                                                    <li>. Eğer KULLANICI işbu sözleşmeye aykırı davranır, borca aykırılık teşkil edebilecek bir davranışta
                                                                        bulunur, gerçekleştirmesi gereken bir davranışı gerçekleştirmez, YÜKLENİCİ’nin işbu sözleşmeye dahil
                                                                        ya da değil herhangi bir fikri veya sınai mülkiyetini zedeler, onun sınırlarını aşarsa YÜKLENİCİ hali
                                                                        hazırda ödenmiş olan ücretleri geri ödemen (tasfiyesini sağlamadan) sözleşmeyi feshedebilir,
                                                                        KULLANICI ifa ettiği ücret borcuna ilişkin parayı geri isteyemez.</li>
                                                                    <li>Mücbir sebep varlığında YÜKLENİCİ’nin borcunu ifasını doğrudan etkilemesi durumunda
                                                                        YÜKLENİCİ’nin işbu sözleşmeyi tazminatsorumluluğu olmaksızın ve tek taraflı fesih hakkı vardır.</li>
                                                                    <li>. KULLANICI, YAZILIM’ı işbu sözleşmede yazılı kullanım şekillerine aykırı kullanımdan doğan veya
                                                                        kullanıma ilişkin tarafların mutabık kaldığı hususlara, özellikle de 5.3 ve 5.6. numaralı maddelere
                                                                        dayandırılan sebeplerle feshedemez.</li>
                                                                </ol>
                                                            <li><b>SORUMSUZLUK HALLERİ</b></li>
                                                                <ol>
                                                                    <li>Genel olarak, YÜKLENİCİ YAZILIM’ın kullanımı yüzünden doğrudan ya da dolaylı ya da diğer
                                                                        şekillerde olarak ortaya çıkan zararlarla ilgili pozitif hukukun izin verdiği en geniş anlamda sorumsuzdur.
                                                                        Her halde YÜKLENİCİ’nin gerek sözleşmelerden gerekse haksız fiil ya da kusursuz sorumluluğundan
                                                                        ortaya çıkan toplam sorumluluğu ve buna ilişkin alacak talebine konu miktar, bu sorumluluk iddiasından
                                                                        geriye doğru talep sahibi KULLANICI tarafından YÜKLENİCİ’ye 30 gün içerisinde aldığı hizmetler
                                                                        karşılığında ödemiş olduğu miktarı geçemez</li>
                                                                    <li>YÜKLENİCİ, mücbir sebebin varlığında oluşabilecek herhangi bir gecikme veya yükümlülüklerin
                                                                        ifa edilememesinden kaynaklanabilecek zarar ve ziyandan sorumlu olmayacaktır.</li>
                                                                    <li>YAZILIM’ın kuruluş, yükleme, yazılıma veya versiyona geçiş işlemi, ürün kullanım eğitimi ve destek
                                                                        hizmetleri, yazılımın yanlış ya da mevzuata aykırı kullanılması, veritabanı yazılımı ve diğer yazılım
                                                                        hatalarından, işletim sistemi, iletişim ağı (network) tasarım ve bağlantı hatalarından, voltaj
                                                                        dalgalanması ve elektrik kesilmesinden, virüs bulaşmasından ve benzeri çevresel faktörlerden
                                                                        kaynaklanan hatalardan oluşabilecek zararlar YÜKLENİCİ’ye yükletilemez</li>
                                                                    <li>Kullanıcı hatalarından kaynaklanacak bilgi ve yazılım kayıpları ile, donanım ile yazılımın usulüne
                                                                        ve dokümantasyonuna uygun kullanılmamış olmasından, yazılımın çalışmasını etkileyen yazılım
                                                                        ve/veya donanım değişikliği ve uygulamalarından, çevresel birim ve faktörlerden kaynaklanan arıza ve
                                                                        sorunlardan dolayı herhangi bir sorumluluğu yoktur.</li>
                                                                    <li>YÜKLENİCİ, YAZILIM ile ilgili olarak ya da YAZILIM nedeniyle kendi kontrolünde olmayan üçüncü
                                                                        kişi mal ya da hizmet satıcıları ya da sağlayıcılarının işlettiği başka web sitelerine ve/veya portallara,
                                                                        dosyalara veya içeriklere 'link' verebilir. Linkler vasıtasıyla erişilen portallar, web siteleri, dosyalar ve
                                                                        içerikler hakkında YÜKLENİCİ’nin herhangi bir sorumluluğu yoktur.</li>
                                                                    <li>İşbu sözleşmenin tarafları, YAZILIM kullanıldığı esnada Ozon.ru Services LLC ve ona bağlı diğer
                                                                        platform ve servisler tarafından KULLANICI’nın IP adreslerine uygulanabilecek muhtemel ve geçici
                                                                        engelleme ya da kara listelemenin Ozon.ru .com adlı internet sitesinin genelde yoğun olduğu
                                                                        dönemlerde gerçekleştiği ve YÜKLENİCİ ya da YAZILIM’ları tarafından kaynaklanmadığı, bu durumum
                                                                        sözleşme dışı üçüncü kişi konumundaki Ozon.ru Services LLC tarafından kaynaklandığı hususunda
                                                                        mutabık kalmışlardır.</li>
                                                                    <li>İşbu sözleşmenin tarafları, YAZILIM üzerinde gösterilen verilerin Ozon.ru Services LLC ve ona bağlı
                                                                        diğer platform ve servisler tarafından eksik, hatalı veya yarım sağlanması halinde oluşabilecek hataların
                                                                        Ozon.ru Services LLC tarafından kaynaklandığı hususunda mutabık kalmışlardır.</li>
                                                                </ol>
                                                            <li><b>YAZILIM’IN KALİTESİ VE HİZMET SEVİYESİ</b></li>
                                                                <ol>
                                                                    <li>YÜKLENİCİ, YAZILIM’ın dijital ortamda sağlanan dokümantasyon ile uyum içinde olması veya
                                                                        tanımlanan işlevleri en iyi şekilde yerine getirmesi için azami özeni gösterecektir.</li>
                                                                    <li>YÜKLENİCİ, YAZILIM’ın kusursuz, hatasız, mükemmel olduğu ve kullanıcının özel ihtiyaçlarını
                                                                        tamamen karşılayacağı şeklinde bir iddia ve taahhütte bulunmaz. YAZILIM’ın kullanımı KULLANICI’ya o
                                                                        anki mevcut durumu ile sağlanacaktır (as is).</li>
                                                                    <li>YAZILIM’da ortaya çıkabilecek hata, bug, servise erişimin mümkün olmaması gibi pürüzler,
                                                                        YAZILIM’ın amaçlandığı şekilde kullanımını devamlı şekilde engellemediği ölçüde, YÜKLENİCİ
                                                                        kullandırma borcunu yerine getirmiş sayılır. Bununla birlikte YÜKLENİCİ, YAZILIM’a ilişkin olarak 7 gün
                                                                        24 saat kesintisiz hizmet sunulacağına dair herhangi bir hizmet seviyesi
                                                                        taahhüdünde bulunmamaktadır.</li>
                                                                </ol>
                                                            <li><b>KAYNAK KODUN KORUNMASI</b></li>
                                                                <ol>
                                                                    <li>YAZILIM’ın kaynak kodunun bilişim sistemleri tarafından işlenmesi LİSANS’a; YAZILIM’ın işbu
                                                                        sözleşmenin 5,6 ve 8’inci başlıklar ile alt başlıkları çerçevesinde işletilmesi çerçevesinde dahildir.
                                                                        KULLANICI, kaynak koda her ne şekilde olursa olsun (başka yazılımlar ile ara işlerliği gerçekleştirmek
                                                                        amacı ile olsa bile) 5,6 ve 8’inci başlık ve alt başlıkları çerçevesi dışında ulaşamaz, onu kısmen veya
                                                                        tamamen parçalara ayıramaz, sırasını bozamaz, onu kopyalayamaz, onu koruyan şifreleme yöntemini
                                                                        alt edemez, kamuya açık hale getiremez ve kaynak koddan işbu sözleşmenin izin verdiği haller dışında
                                                                        sair surette yararlanamaz.
                                                                        </li>
                                                                </ol>
                                                            <li><b>SÜRÜM/VERSİYON DEĞİŞİMİ</b></li>
                                                                <ol>
                                                                    <li>YÜKLENİCİ önceden haber vermeksizin Yazılım ve dokümanlarında değişiklikler yapma, yeni versiyon
                                                                        ve sürümlerini çıkarma hakkına sahiptir. YÜKLENİCİ eski versiyonla/sürümle girilen veya elde edilen
                                                                        bilgilerin yeni versiyon/sürümle de işlenebileceği güvencesini vermez. Üretimden kalkan sürüm ve
                                                                        versiyonların destek hizmeti YÜKLENİCİ’dan temin edilemez.</li>
                                                                </ol>
                                                            <li><b>DESTEK HİZMETLER</b></li>
                                                                <ol>
                                                                    <li>Yazılımın amacına ulaşabilmesi ve en yüksek verimi sağlayabilmesi için kurulum talimatları dâhilinde
                                                                        kurulması gereklidir. KULLANICI’nın Yetkilendirilmeyen kişi ve kuruluşlardan destek hizmeti alması
                                                                        borca aykırılık teşkil edecektir.</li>
                                                                </ol>
                                                            <li><b>YAZILIM GÜVENLİĞİ</b></li>
                                                                <ol>
                                                                    <li>. Her türlü kullanıcı adı, şifre ve benzeri verilerin doğruluğundan, güvenliğinden, saklanmasından
                                                                        ve üçüncü kişilerin bilgisinden uzak tutulmasından KULLANICI sorumludur. Söz konusu verilerdeki
                                                                        yanlışlıklardan ve/veya bu bilgilerinin bir başkası tarafından ele geçirilerek/öğrenilerek kullanılması ya
                                                                        da KULLANICI adına YAZILIM ya da YAZILIM üzerinden ulaşılan yerlere erişim yapılmasından KULLANICI
                                                                        sorumludur.</li>
                                                                    <li>YÜKLENİCİ zaman zaman Yazılımla ilgili doğrulama denetimi gerçekleştirebilir. Etkinleştirme,
                                                                        doğrulama ya da internet tabanlı hizmetlerin kullanımı sırasında KULLANICI ve/veya YAZILIM
                                                                        YÜKLENİCİ’ye bilgi gönderebilir veya YÜKLENİCİ’nin işbu sözleşmede yüklendiği borçların (özellikle
                                                                        kullandırma) gereği gibi ifası için karşıdan yüklemeler otomatik/el müdahalesi ile gerçekleştirilebilir..
                                                                        Ayrıca YÜKLENİCİ, Yazılımın kullanım lisansını takip, lisanssız kullanımların önüne geçmek,
                                                                        iyileştirmeler ve geliştirmeler yapmak için ya da lisans doğrulama, aktifleştirme ya da kullanıma son
                                                                        vermek amacıyla ve işin gerekleriyle sınırlı olarak; KULLANICI nezdindeki YAZILIM’a, kurulu bulunduğu
                                                                        donanıma, ürün ID'sine, modüllerine, kullanılan ya da kullanılmayan fonksiyonlara ve
                                                                        konfigürasyonundan ibaret bilgilere otomatik olarak ulaşabilir, herhangi bir yolla erişebilir, bunları
                                                                        izleyebilir, kayıt altına alabilir ve lisans doğrulama ya da istatistikî amaçlar dâhil bu Sözleşmede
                                                                        belirtilen herhangi bir amaç için kullanabilir. Bu veri işleme, elde edilen verilerin kişisel veri niteliğinde
                                                                        olması ihtimalinde 6698 sayılı Kişisel Verilerin Korunması Kanunu’nun m.5/2-c uyarınca, işbu
                                                                        sözleşmenin kurulması ve YÜKLENİCİ’nin borçlarını doğru kişiye ifa ettiğinden emin olması
                                                                        zorunluluğunun hasıl olması nedeni ve hukuki gerekçesi ile gerçekleşmektedir. Bu işlemeye ilişkin
                                                                        aydınlatma yükümlülüğü YÜKLENİCİ tarafından ayrıca yerine getirilecektir.
                                                                        </li>
                                                                </ol>
                                                            <li><b>KESİN DELİL ANLAŞMASI</b></li>
                                                                <ol>
                                                                    <li>Anlaşmazlık halinde, YÜKLENİCİ’ın tutmuş olduğu her türlü kayıt, rapor, belge, doküman ve bilgisayar
                                                                        kayıtları anlaşmazlıkların çözümünde kesin delil teşkil eder.
                                                                        </li>
                                                                </ol>
                                                            <li><b>TEBLİGAT</b></li>
                                                                <ol>
                                                                    <li>İşbu sözleşme ile ilgili tüm uyarı ve bildirimler KULLANICI’nın kurulum ya da etkinleştirme sırasında
                                                                        girmiş olduğu ya da bir şekilde YÜKLENİCİ’ye bildirmiş olduğu elektronik posta adresine de yapılabilir.
                                                                        KULLANICI, bu adrese yapılan bildirimin yetkisiz kişilerce tebellüğ edildiği iddiasında bulunamaz. Bu
                                                                        elektronik posta adresine yapılan bildirimler hukuken geçerli tebligatın sonuçlarını doğurur.</li>
                                                                </ol>
                                                            <li><b>YETKİ</b></li>
                                                                <ol>
                                                                    <li>YÜKLENİCİ ve KULLANICI arasında meydana gelecek uyuşmazlıklarda taraflar Türk Hukuku’nun
                                                                        uygulanacağı ve T.C. İstanbul Anadolu Mahkemelerinin ve İcra Müdürlüklerinin kesin ve tek yetkili
                                                                        olduklarını peşinen kabul ederler.</li>
                                                                </ol>
                                                        </ol>
                                                    </div>
                                                    <p class="text-success <%= !divClass ? 'd-none':'' %>">Sözleşmeyi <%= agreementDate %> tarihinde onayladınız.</p>
                                                    <div class="mb-3 <%= divClass ? 'd-none':'' %>">
                                                        <div class="form-check form-check-primary">
                                                            <input class="form-check-input" type="checkbox" name="agreement" id="agreementCheckbox">
                                                            <label class="form-check-label" style="margin-top:2px;">Üyelik sözleşmesini okudum, anladım ve onayladım.</label>
                                                        </div>
                                                        <div class="form-group mt-2">
                                                            <button type="button" class="btn btn-success" id="agreementBtn">Üyeliğimi Başlat</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div> <!-- end col -->
                                        </div>
                                        <!-- end row-->

                                    </div> <!-- end card-body -->
                                </div> <!-- end card -->
                            </div><!-- end col -->
                        </div>
                        <!-- end row -->

                        
                    </div> <!-- container -->

                </div> <!-- content -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->